.header
    .userInfo
        .avatar
        a(href='login.html') Вход
        a(href="registration.html") Регистрация
    .welcome(id="welcome") Добро пожаловать, {{user}}!
    a(href=('/'))
        .chessIcon